<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bkdbConnectionString" connectionString="server=127.0.0.1;user id=root;password=0000;persistsecurityinfo=True;database=bkdb"
      providerName="MySql.Data.MySqlClient" />
    <add name="bkdbConnectionString2" connectionString="server=127.0.0.1;user id=root;password=0000;database=bkdb"
      providerName="MySql.Data.MySqlClient" />
    <add name="bkdbConnectionString3" connectionString="persistsecurityinfo=True;server=127.0.0.1;user id=root;password=0000;database=bkdb"
      providerName="MySql.Data.MySqlClient" />
    <add name="bkdbConnectionStringuser" connectionString="server=127.0.0.1;user id=root;password=0000;persistsecurityinfo=True;database=bkdb"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Localfilespath" value="C:\Users\USER\Desktop\ROC\Freelancer Template\FreelancerTemplate\"/>
    <add key="MyEmail" value="roc@rockhalil.com"/>
    <add key="AdminUsername" value="admin"/>
    <add key="AdminPassword" value="0DPiKuNIrrVmD8IUCuw1hQxNqZc="/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>